### Creating Databases in MySQL

In [2]:
### Create SQL Connection
import mysql.connector as sql

connection = sql.connect(
    host = "localhost",
    user = "root",
    password = "12345"
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x000001C8E61D8088>

### Creating Databases

In [11]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE student")

In [12]:
cursor.execute("SHOW DATABASES")

In [13]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

### Dropping some Databases

In [14]:
cursor.execute("DROP DATABASE student")

In [16]:
cursor.execute("SHOW DATABASES")

In [17]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)